.vscode
bin
obj
streamerdotbot-irl-speaker.sln
.env
browser_source/package*
browser_source/node*
node_server/node*
node_server/package-lock.json
node_server/sounds/
!node_server/sounds/ADD_SOUNDS_HERE.md
node_server/tts/
!node_server/tts/POINT_SPEAKER_BOT_HERE.md
!node_server/tts/image.png
eslint.config.mjs
